@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'),
         url('../fonts/fraunces-v23-latin-900.woff') format('woff');
}
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}
  @font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 700;
    src: local(''),
         url('../fonts/barlow-v12-latin-700italic.woff2') format('woff2'),
         url('../fonts/barlow-v12-latin-700italic.woff') format('woff');
}
:root{
    --main-text-black-color : #333D4B;
    --main-black-bg-color: #2c343e;
    --main-green-bg-colors: #0e8784;
}
  
  /* GENERAL */
  
  html{
    height: 100%;
    box-sizing: border-box;
}
  
  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Fraunces", "Arial", sans-serif;
    font-weight: 900;
}
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
  /* CONTAINER */
  
  .container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}
  
  /* STICKY-FOOTER */
  .site-main{
    flex-grow: 1;
}
.black-bg-color {
    background-color: #293039;
}
.site-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 40px 0;
}
.site-header__btn {
    width: 16px;
    height: 15px;
    background-image: url("../images/3-pack.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
}
.site-header__nav-show .site-header__nav-box {
    display: block;
}
.site-header__nav-show .site-header__btn {
    width: 16px;
    height: 15px;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;

}
.site-header__nav {
    display: none;
}
.site-header__nav-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.site-header__list-items:not(:last-child) {
    margin-right: 32px;
}
.site-header__items-link {
    font-family: "Barlow";
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}


.s1 {
    width: 100%;
    height: auto;
    background-image: url("../images/coffea-mobile-hero-bg.jpg");
    background-size: cover;
    border-radius: 10px;
}
.s1__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px;
}
.s1__intro-title {
    margin: 0 0 25px 0;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
}
.s1__intro-text {
    margin: 0 0 40px 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}
.s1__intro-btn {
    display: inline-block;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 16px 31px;
    color: #FEFCF7;
    text-decoration: none;
    background-color: var(--main-green-bg-colors);
    border-radius: 6px;
}

.s2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 120px 0;
}
.s2__intro-img {
    width: 100%;
    height: 72px;
    margin-bottom: 22px;

}
.s2__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    background-image: url("../images/our-collection.svg");
    background-position: calc(50% + 0px) calc(10% + -151px);
    background-repeat: no-repeat;
    background-size: contain;
}
.s2__items {
    position: static;
    margin-top: 70px;
    margin-bottom: 48px;
}
.s2__items::before {
    display: block;
    width: 200px;
    height: 151px;
    margin: 0 auto 24px auto;
    background-image: url("../images/gran-ekspresso-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.s2__items:nth-child(2)::before {
    background-image: url("../images/planalto-2.png");
}
.s2__items:nth-child(3)::before {
    background-image: url("../images/piccollo-3.png");
}
.s2__items:nth-child(4)::before {
    background-image: url("../images/danche-4.png");
}
.s2__items-box {
    max-width: 282px;
    margin: 0 auto;
}
.s2__titles {
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}
.s2__text {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #333D4B;
}

.s3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px 660px 24px;
    border-radius: 10px;
    background-color:  #282f38;
}
.s3__intro-box {
    max-width: 280px;
    background-color: #2C343E;
}
.s3__title {
    margin-top: 0;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FEFCF7;
}
.s3__text {
    margin: 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}
.s3__list {
    position: absolute;
    top: 35%;
    left: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
.s3__items {
    max-width: 270px;
    margin-bottom: 24px;
    padding: 72px 12px 48px 12px;
    background-color: #0E8784;
    border-radius: 8px;
}
.s3__items::before {
    display: block;
    max-width: 72px;
    height: 72px;
    margin: 0 auto 56px auto;
    background-image: url("../images/best-quality.svg");
    background-repeat: no-repeat;
    content: "";
}
.s3__items:nth-child(2)::before {
    background-image: url("../images/benefit.svg");
}
.s3__items:last-child::before {
    max-width: 72px;
    height: 50px;
    background-image: url("../images/shipping.svg");
}
.s3__items-title {
    margin: 0 0 24px 0;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}
.s3__items-text {
    margin: 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}

.s4 {
    padding: 676px 0 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s4__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #83888F;
}
.s4__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
.s4__items {
    max-width: 327px;
}
.s4__items:first-child {
    margin-top: 80px;
}
.s4__items:not(:first-child) {
    margin-top: 56px;
}
.s4__items:last-child {
    margin-bottom: 80px;
}
.s4__items-box::before {
    display: block;
    width: 90px;
    height: 72px;
    margin: 0 auto 24px auto;
    background-image: url("../images/01.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.s4__items:nth-child(2) .s4__items-box::before {
    background-image: url("../images/02.svg");
}
.s4__items:nth-child(3) .s4__items-box::before {
    background-image: url("../images/03.svg");
}
.s4__items-title {
    margin: 0 0 24px 0;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}
.s4__items-text {
    margin: 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; 
    text-align: center;
    color: #333D4B;
}
.s4__button {
    padding: 16px 31px;
    font-size: 18px;
    line-height: 25px; 
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;
}

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px;
    background-color: #2c343e;
}
.site-footer__logo {
    margin-bottom: 15px;
}
.site-footer__nav-list {
    margin-bottom: 49px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.site-footer__nav-items:not(:last-child) {
    margin-bottom: 24px;
}
.site-footer__nav-link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px; 
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    text-decoration: none;
    color: #83888F;
}
.site-footer__social-icons-box {
    display: flex;
    margin: 0 auto;
}
.site-footer__social-icons {
    color: white;
}
.site-footer__social-icons:not(:last-child) {
    margin-right: 24px;
}

/* about us page start */

.about-s1 {
    width: 100%;
    height: auto;
    margin-bottom: 120px;
    background-image: url("../images/about-intro.jpg");
    background-size: cover;
    border-radius: 10px;
}
.about-s1__intro {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px;
}
.about-s1__intro-title {
    margin: 0 0 25px 0;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
}
.about-s1__intro-text {
    margin: 0 0 40px 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}

.about-s2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-s2__img {
    display: block;
}
.about-s2__img-tablet {
    display: none;
}
.about-s2__img-desktop {
    display: none;
}
.about-s2__box {
    max-width: 327px;
}
.about-s2__title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #333D4B;        
}
.about-s2__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.about-s3 {
    margin: 150px 0 50px 0;
    padding: 150px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.about-s3__box {
    position: relative;
    margin: 0 auto;
}
.about-s3__img {
    position: absolute;
    top: -65%;
    left: calc(50% - 140px);
}
.about-s3__img-tablet {
    display: none;
}
.about-s3__img-desktop {
    display: none;
}
.about-s3__title-and-text-box {
    max-width: 280px;
}
.about-s3__title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FEFCF7;
}
.about-s3__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.about-s4 {
    padding-top: 130px;
    margin: 40px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-s4__title {
    margin: 0 0 70px 0;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #83888F;    
}
.about-s4__list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.about-s4__items {
    max-width: 326px;
    margin: 0 auto;
}
.about-s4__items:not(:last-child) {
    margin-bottom: 80px;
}
.about-s4__items::before {
    display: block;
    width: 51px;
    height: 59px;
    margin: 0 auto 38px auto;
    background-image: url("../images/britain.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.about-s4__items:nth-child(2)::before {
    background-image: url("../images/canada.svg");
}
.about-s4__items:nth-child(3)::before {
    background-image: url("../images/avrtralia.svg");
}
.about-s4__items-title {
    margin: 0 0 25px 0;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #333D4B;    
}
p {
    margin: 0;
}
.about-s4__adres-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;    
}
.about-s4__tel-link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
    color: #333D4B;    
}

/* about us page end */

/* create plan page start */

.plan-s1 {
    width: 100%;
    height: auto;
    margin-bottom: 120px;
    background-image: url("../images/plan-intro-mobile.jpg");
    background-size: cover;
    border-radius: 10px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .plan-s1 {
        width: 100%;
        height: auto;
        margin-bottom: 120px;
        background-image: url("../images/plan-intro-mobile@2x.jpg");
        background-size: cover;
        border-radius: 10px;
    }
}

.plan-s1__intro {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px;
}
.plan-s1__intro-title {
    margin: 0 0 25px 0;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
}
.plan-s1__intro-text {
    margin: 0 0 40px 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}

.plan-s2 {
    margin: 80px 0;
    padding: 64px 0 87px 0;
    background-color: #293039;
    border-radius: 10px;
}
.plan-s2__list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.plan-s2__items {
    max-width: 327px;
    margin: 0 auto;
}
.plan-s2__items:not(:last-child) {
    margin-bottom: 56px;
}
.plan-s2__items-title {
    margin: 24px 0;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.plan-s2__items-title::before {
    display: block;
    width: 90px;
    height: 72px;
    margin: 0 auto;
    background-image: url("../images/01.svg");
    background-repeat: no-repeat;
    content: "";
}
.plan-s2__items:nth-child(2) .plan-s2__items-title::before {
    width: 101px;
    height: 72px;
    background-image: url("../images/02.svg");
}
.plan-s2__items:nth-child(3) .plan-s2__items-title::before {
    width: 98px;
    height: 72px;
    background-image: url("../images/03.svg");
}
.plan-s2__items-text {
    margin: 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.plan-s3__left-list {
    display: none;
}
.plan-s3-intro-box {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-s3__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-s3__details:not(:last-child) {
    margin-bottom: 110px;
}
.plan-s3__summary {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    list-style: none;
    color: #83888F;
}
.plan-s3__summary::after {
    display: block;
    width: 19px;
    height: 13px;
    margin-left: auto;
    background-image: url("../images/top-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateZ(180deg);
    content: "";
}
.plan-s3__details[open] .plan-s3__summary::after {
    transform: rotateZ(360deg);
}
.plan-s3__details-box {
    max-width: 328px;
    margin-bottom: 16px;
    padding: 24px 25px;
    border-radius: 8px;
    background-color: #f4f1eb;
}
.plan-s3__in-details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-s3__details-title {
    margin: 0 0 8px 0;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;    
}
.plan-s3__details-text {
    margin: 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.plan-s3__bottom-box {
    max-width: 330px;
    margin: 50px 0;
    padding: 37px 25px;
    background-color: #293039;
    border-radius: 8px;
}
.plan-s3__buttom-box-intro-word {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.plan-s3__buttom-box-words {
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;    
}
.plan-s3__buttom-box-button {
    padding: 16px 35px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px; 
}

/* create plan page end */



@media only screen and (max-width: 649px) {
    .site-header {
        position: relative;
        top: 0%;
        left: 0%;
        z-index: 5;
        opacity: 1;
    }
    .site-header__nav-box {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: rgba(254, 252, 247, 0.9);
    }
    .site-header__nav-show {
        display: flex;
    }
    .site-header__nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 80px;
        padding-left: 0;
        list-style: none;
    }
    .site-header__list-items {
        margin-bottom: 32px;
    }
    .site-header__items-link {
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        color: #333D4B;
        
    }
    
}

@media only screen and (min-width: 650px){
    .container {
        padding: 0 25px;
    }
    .site-header__logo {
        max-width: 236px;
        height: 26px;
    }
    .site-header__nav {
        display: block;
    }
    .site-header__btn {
        display: none;
    }
    .s1__intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 400px;
        margin-left: 58px;
    }
    .s1__intro-title {
        font-size: 48px;
        line-height: 48px;
        text-align: start;
    }
    .s1__intro-text {
        text-align: start;
    }
    .s1 {
        background-image: url("../images/s1-tablet-bg.jpg");
    }
    .s2__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        background-image: url("../images/our-colection-tablet.svg");
        background-position: calc(50% + 0px) calc(10% + -105px);
        background-size: contain;
    }
    .s2__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    .s2__items:first-child{
        margin-top: 50px;
    }
    .s2__items::before {
        display: block;
        width: 255px;
        height: 193px;
        margin-right: 36px;
        background-image: url("../images/gran-ekspresso-1.png");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";;
    }
    .s2__items:nth-child(2)::before {
        margin: 35px 36px 0 0;
        background-image: url("../images/planalto-2.png");
    }
    .s2__items:nth-child(3)::before {
        margin: 35px 36px 0 0;
        background-image: url("../images/piccollo-3.png");
    }
    .s2__items:nth-child(4)::before {
        margin: 35px 36px 0 0;
        background-image: url("../images/danche-4.png");
    }
    .s2__items-box {
        margin-top: -12px;
    }
    .s3 {
        padding-bottom: 365px;
    }
    .s3__intro-box {
        max-width: 540px;
    }
    .s3__title {
        font-size: 32px;
        line-height: 48px;
    }
    .s3__list {
        top: 50%;
        align-items: flex-start;
    }
    .s3__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 573px;
        margin-left: auto;
        margin-bottom: 24px;
        margin-right: auto;
        padding: 41px 48px 41px 70px;
        background-color: #0E8784;
        border-radius: 8px;
    }
    .s3__items::before {
        display: block;
        width: 56px;
        height: 56px;
        margin: 0 56px 0 0;
        background-image: url("../images/best-quality.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    .s3__items:nth-child(2)::before {
        background-image: url("../images/benefit.svg");
    }
    .s3__items:last-child::before {
        max-width: 72px;
        height: 50px;
        background-image: url("../images/shipping.svg");
    }
    .s3__items-box {
        max-width: 343px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .s3__items-title {
        text-align: start;
    }
    .s3__items-text {
        text-align: start;
    }

    .s4 {
        margin-left: 85px;
        padding: 450px 0 144px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .s4__title {
        margin-bottom: 178px;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }
    .s4__list {
        position: relative;
        margin-bottom: 64px;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        list-style: none;
    }
    .s4__list::before {
        position: absolute;
        top: -27%;
        left: 2.5%;
        display: block;
        width: 467px;
        height: 2px;
        background-color: #FDD6BA;
        content: "";
    }
    .s4__items {
        max-width: 223px;
        margin: 0;
    }
    .s4__items:first-child {
        margin-top: 0;
    }
    .s4__items:nth-child(2) {
        margin: 0 10px;
    }
    .s4__items:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }
    .s4__items::before {
        position: absolute;
        top: -32%;
        left: 0%;
        display: block;
        width: 31px;
        height: 31px;
        border: 2px solid #0E8784;
        border-radius: 50px;
        background-color: #fefcf7;
        content: "";
    }
    .s4__items:nth-child(2)::before {
        left: 34%;
    }
    .s4__items:nth-child(3)::before {
        left: 68%;
    }
    .s4__items-box::before {
        margin: 0 0 38px 0;
    }
    .s4__items-title {
        margin: 0 0 40px 0;
        font-size: 28px;
        line-height: 32px;
        text-align: start;
        color: #333D4B;
    }
    .s4__items-text {
        margin: 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #333D4B;
    }
    .s4__button {
        padding: 16px 31px;
        font-size: 18px;
        line-height: 25px; 
        text-align: center;
        text-decoration: none;
        color: #FEFCF7;
        background-color: #0E8784;
        border-radius: 6px;
    }
    .site-footer__logo {
        width: 236px;
        height: 26px;
        margin-bottom: 32px;
    }
    .site-footer__nav-list {
        margin-bottom: 65px;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
    }
    .site-footer__nav-items:not(:last-child) {
        margin-bottom: 0;
        margin-right: 32px;
    }
    .about-s1 {
        width: 100%;
        height: auto;
        margin-bottom: 120px;
        background-image: url("../images/about-intro-tablet.jpg");
        background-size: cover;
        border-radius: 10px;
    }
    .about-s1__intro {
        max-width: 398px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 25px;
    }
    .about-s1__intro-title {
        margin: 0 0 25px 0;
        font-size: 40px;
        line-height: 40px;
        text-align: start;
        color: #FEFCF7;
    }
    .about-s1__intro-text {
        margin: 0 0 40px 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #FEFCF7;
        opacity: 0.8;
    }
    
    .about-s2 {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .about-s2__img {
        display: none;
    }
    .about-s2__img-tablet {
        margin-right: 10px;
        display: block;
    }
    .about-s2__img-desktop {
        display: none;
    }
    .about-s2__box {
        max-width: 340px;
    }
    .about-s2__title {
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #333D4B;        
    }
    .about-s2__text {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #333D4B;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    
    .about-s3 {
        margin: 200px 0 50px 0;
        padding: 200px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    .about-s3__box {
        position: relative;
        max-width: 540px;
        margin: 0 auto;
    }
    .about-s3__img-tablet {
        position: absolute;
        top: -105%;
        left: calc(50% - 287px);
        display: block;
        border-radius: 10px;
    }
    .about-s3__img {
        display: none;
    }
    .about-s3__title {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        color: #FEFCF7;
    }
    .about-s3__text {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    
    .about-s4 {
        padding-top: 130px;
        margin: 40px 0 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .about-s4__title {
        margin: 0 0 70px 0;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #83888F;    
    }
    .about-s4__list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .about-s4__items {
        max-width: 223px;
        margin: 0 auto;
    }
    .about-s4__items:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0px;
    }
    .about-s4__items::before {
        display: block;
        width: 51px;
        height: 59px;
        margin: 0 0 38px 0;
        background-image: url("../images/britain.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    .about-s4__items:nth-child(2)::before {
        background-image: url("../images/canada.svg");
    }
    .about-s4__items:nth-child(3)::before {
        background-image: url("../images/avrtralia.svg");
    }
    .about-s4__items-title {
        margin: 0 0 25px 0;
        font-size: 28px;
        line-height: 36px;
        text-align: start;
        color: #333D4B;    
    }
    p {
        margin: 0;
    }
    .about-s4__adres-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: start;
        color: #333D4B;    
    }
    .about-s4__tel-link {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        text-align: start;
        color: #333D4B;    
    }
    
    /* create plan page start */

    .plan-s1 {
        width: 100%;
        height: auto;
        margin-bottom: 120px;
        background-image: url("../images/plan-intro-tablet.jpg");
        background-size: cover;
        border-radius: 10px;
    }
    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        .plan-s1 {
            width: 100%;
            height: auto;
            margin-bottom: 120px;
            background-image: url("../images/plan-intro-tablet@2x.jpg");
            background-size: cover;
            border-radius: 10px;
        }
    }
    
    .plan-s1__intro {
        max-width: 398px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 25px;
    }
    .plan-s1__intro-title {
        margin: 0 0 25px 0;
        font-size: 40px;
        line-height: 40px;
        text-align: start;
        color: #FEFCF7;
    }
    .plan-s1__intro-text {
        margin: 0 0 40px 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #FEFCF7;
        opacity: 0.8;
    }
    
    .plan-s2 {
        margin: 80px 0;
        padding: 64px 0 87px 0;
        background-color: #293039;
        border-radius: 10px;
    }
    .plan-s2__list {
        position: relative;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        list-style: none;
    }
    .plan-s2__list::before {
        position: absolute;
        top: 3%;
        left: 0%;
        display: block;
        width: 467px;
        height: 1px;
        background-color: #FDD6BA;
        content: "";
    }
    .plan-s2__items {
        max-width: 223px;
        margin: 0 auto;
    }
    .plan-s2__items::before {
        display: block;
        width: 31px;
        height: 31px;
        margin: 0 0 45px 0;
        background-image: url("../images/Oval.svg");
        background-repeat: no-repeat;
        content: "";
    }
    .plan-s2__items:nth-child(2)::before {
        background-image: url("../images/Oval.svg");
    }
    .plan-s2__items:nth-child(3)::before {
        background-image: url("../images/Oval.svg");
    }
    .plan-s2__items:not(:last-child) {
        margin-bottom: 0px;
    }
    .plan-s2__items-title {
        margin: 24px 0;
        font-size: 28px;
        line-height: 32px;
        text-align: start;
        color: #FFFFFF;
    }
    .plan-s2__items-title::before {
        display: block;
        width: 90px;
        height: 72px;
        margin: 0 0 40px 0;
        background-image: url("../images/01.svg");
        background-repeat: no-repeat;
        content: "";
    }
    .plan-s2__items:nth-child(2) .plan-s2__items-title::before {
        width: 101px;
        height: 72px;
        background-image: url("../images/02.svg");
    }
    .plan-s2__items:nth-child(3) .plan-s2__items-title::before {
        width: 98px;
        height: 72px;
        background-image: url("../images/03.svg");
    }
    .plan-s2__items-text {
        margin: 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #FFFFFF;
    }
    .plan-s3__left-list {
        display: none;
    }
    .plan-s3-intro-box {
        margin: 110px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .plan-s3__on-details-box {
        width: 100%;
    }
    .plan-s3__details {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .plan-s3__details:not(:last-child) {
        margin-bottom: 110px;
    }
    .plan-s3__summary {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        font-size: 32px;
        line-height: 48px;
        list-style: none;
        color: #83888F;
    }
    .plan-s3__summary::after {
        display: block;
        width: 19px;
        height: 13px;
        margin-left: auto;
        background-image: url("../images/top-bottom.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateZ(180deg);
        content: "";
    }
    .plan-s3__details[open] .plan-s3__summary::after {
        transform: rotateZ(360deg);
    }
    .plan-s3__in-details-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .plan-s3__details-box {
        max-width: 223px;
        margin-bottom: 16px;
        padding: 32px 25px 80px 25px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #f4f1eb;
    }
    .plan-s3__details-box:not(:last-child) {
        margin-right: 10px;
    }
    .plan-s3__details-title {
        margin: 0 0 8px 0;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;    
    }
    .plan-s3__details-text {
        margin: 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }
    .plan-s3__bottom-box {
        max-width: 690px;
        margin: 50px 0;
        padding: 31px 44px 35px 44px;
        background-color: #293039;
        border-radius: 8px;
    }
    .plan-s3__buttom-box-intro-word {
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .plan-s3__buttom-box-words {
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;    
    }
    .plan-s3__buttom-box-button {
        padding: 16px 35px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        color: #FEFCF7;
        background-color: #0E8784;
        border-radius: 6px; 
        border: none;
    }

    /* create plan page end */


}


@media only screen and (min-width: 1000px){
    .container {
        padding: 0 30px;
    }
    .site-header__logo {
        max-width: 236px;
        height: 26px;
    }
    .site-header__items-link:hover {
        color: #333D4B;
    }
    .s1 {
        background-image: url("../images/s1-bg-desktop.jpg");
    }
    .s1__intro {
        max-width: 500px;
    }
    .s1__intro-title {
        font-size: 72px;
        line-height: 72px;
    }
    .s1__intro-text-box {
        max-width: 440px;
    }
    .s1__intro-text {
        font-size: 16px;
        line-height: 26px;
    }
    .s1__intro-btn:hover {
        cursor: pointer;
        background-color: #66D2CF;
    }
    .s2__list {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        background-image: url("../images/our-collection-laptop.svg");
        background-position: calc(50% + 0px) calc(50% + -108px);
        background-size: contain;
    }
    .s2__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 130px;
    }
    .s2__items:nth-child(1)::before {
        margin-top: 120px;
    }
    .s2__items:nth-child(2)::before {
        margin: 35px 36px 0 0;
        background-image: url("../images/planalto-2.png");
    }
    .s2__items:nth-child(3)::before {
        margin: 35px 36px 0 0;
        background-image: url("../images/piccollo-3.png");
    }
    .s2__items:nth-child(4)::before {
        margin: 35px 0 0 0;
        background-image: url("../images/danche-4.png");
    }
    .s2__items::before {
        margin: 0;
    }
    .s2__items-box {
        max-width: 255px;
    }
    .s3 {
        width: 100%;
        padding-bottom: 220px;
    }
    .s3__list {
        top: 65%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;
    }
    .s3__items {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 72px 47px 48px 47px;
    }
    .s3__items::before {
        margin: 0 auto 56px auto;
    }
    .s3__items:not(:last-child){
        margin-right: 30px;
    }
    .s3__items-box {
        max-width: 255px;
    }
    .s3__title {
        font-size: 40px;
        line-height: 48px;
    }
    .s3__text {
        font-size: 16px;
        line-height: 26px;
    }

    .s4 {
        margin-left: 85px;
        padding: 450px 0 200px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .s4__title {
        margin-bottom: 178px;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }
    .s4__list {
        position: relative;
        margin-bottom: 64px;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        list-style: none;
    }
    .s4__list::before {
        position: absolute;
        top: -27%;
        left: 2.5%;
        display: block;
        width: 760px;
        height: 2px;
        background-color: #FDD6BA;
        content: "";
    }
    .s4__items {
        max-width: 285px;
        margin: 0;
    }
    .s4__items:first-child {
        margin-top: 0;
    }
    .s4__items:nth-child(2) {
        margin: 0 95px;
    }
    .s4__items:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }
    .s4__items::before {
        position: absolute;
        top: -32%;
        left: 0%;
        display: block;
        width: 31px;
        height: 31px;
        border: 2px solid #0E8784;
        border-radius: 50px;
        background-color: #fefcf7;
        content: "";
    }
    .s4__items:nth-child(2)::before {
        left: 37%;
    }
    .s4__items:nth-child(3)::before {
        left: 74%;
    }
    .s4__items-box::before {
        margin: 0 0 38px 0;
    }
    .s4__items-title {
        margin: 0 0 43px 0;
        font-size: 28px;
        line-height: 32px;
        text-align: start;
        color: #333D4B;
    }
    .s4__items-text {
        margin: 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #333D4B;
    }
    .s4__button {
        padding: 16px 31px;
        font-size: 18px;
        line-height: 25px; 
        text-align: center;
        text-decoration: none;
        color: #FEFCF7;
        background-color: #0E8784;
        border-radius: 6px;
    }
    .s4__button:hover {
        cursor: pointer;
        background-color: #66D2CF;
    }
    .site-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 47px;
    }
    .site-footer__logo {
        margin-right: 103px;
        margin-bottom: 0;
    }
    .site-footer__nav-list {
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: row;
    }
    .site-footer__nav-items:not(:last-child) {
        margin-bottom: 0;
        margin-right: 32px;
    }
    .site-footer__nav-link:hover {
        color: #FEFCF7;
    }
    .site-footer__social-icons-box {
        margin: 0 0 0 auto;
    }
    .site-footer__social-icons:hover {
        color: #FDD6BA;
    }

    .about-s1 {
        width: 100%;
        height: auto;
        margin-bottom: 120px;
        background-image: url("../images/intro-bg-desktop.jpg");
        background-size: cover;
        border-radius: 10px;
    }
    .about-s1__intro {
        max-width: 445px;
        margin-left: 85px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 25px;
    }
    .about-s1__intro-title {
        margin: 0 0 25px 0;
        font-size: 40px;
        line-height: 48px;
        text-align: start;
        color: #FEFCF7;
    }
    .about-s1__intro-text {
        margin: 0 0 40px 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: start;
        color: #FEFCF7;
        opacity: 0.8;
    }
    
    .about-s2 {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .about-s2__img {
        display: none;
    }
    .about-s2__img-tablet {
        display: none;
    }
    .about-s2__img-desktop {
        margin-right: 10px;
        display: block;
    }
    .about-s2__box {
        max-width: 540px;
    }
    .about-s2__title {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #333D4B;        
    }
    .about-s2__text {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: start;
        color: #333D4B;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    
    .about-s3 {
        margin: 150px 0 50px 0;
        padding: 50px 0 160px 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
    }
    .about-s3__box {
        position: relative;
        margin: 0 0;
    }
    .about-s3__img {
        display: none;
    }
    .about-s3__img-tablet {
        display: none;
    }
    .about-s3__img-desktop {
        display: block;
        position: absolute;
        top: -56%;
        left: calc(50% + 460px);
    }
    .about-s3__title-and-text-box {
        max-width: 540px;
    }
    .about-s3__title {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
    }
    .about-s3__text {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: start;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    
    .about-s4 {
        padding-top: 130px;
        margin: 40px 0 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .about-s4__title {
        margin: 0 0 70px 0;
        font-size: 24px;
        line-height: 32px;
        text-align: start;
        color: #83888F;    
    }
    .about-s4__list {
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
        list-style: none;
    }
    .about-s4__items {
        max-width: 285px;
        margin: 0 0;
    }
    .about-s4__items:not(:last-child) {
        margin-right: 95px;
        margin-bottom: 0px;
    }
    .about-s4__items::before {
        display: block;
        width: 51px;
        height: 59px;
        margin: 0 0 38px 0;
        background-image: url("../images/britain.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    .about-s4__items:nth-child(2)::before {
        background-image: url("../images/canada.svg");
    }
    .about-s4__items:nth-child(3)::before {
        background-image: url("../images/avrtralia.svg");
    }
    .about-s4__items-title {
        margin: 0 0 25px 0;
        font-size: 32px;
        line-height: 36px;
        text-align: start;
        color: #333D4B;    
    }
    p {
        margin: 0;
    }
    .about-s4__adres-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: start;
        color: #333D4B;    
    }
    .about-s4__tel-link {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        text-align: start;
        color: #333D4B;    
    }
    /* create plan page start */
    .plan-s1 {
        width: 100%;
        height: auto;
        margin-bottom: 120px;
        background-image: url("../images/plan-intro-desk.jpg");
        background-size: cover;
        border-radius: 10px;
    }
    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        .plan-s1 {
            width: 100%;
            height: auto;
            margin-bottom: 120px;
            background-image: url("../images/plan-intro-desk@2x.jpg");
            background-size: cover;
            border-radius: 10px;
        }
    }
    
    .plan-s1__intro {
        max-width: 485px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 25px;
    }
    .plan-s1__intro-title {
        margin: 0 0 25px 0;
        font-size: 72px;
        line-height: 72px;
        text-align: start;
        color: #FEFCF7;
    }
    .plan-s1__intro-text {
        margin: 0 0 40px 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: start;
        color: #FEFCF7;
        opacity: 0.8;
    }
    
    .plan-s2 {
        margin: 80px 0;
        padding: 64px 0 87px 0;
        background-color: #293039;
        border-radius: 10px;
    }
    .plan-s2__list {
        position: relative;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        list-style: none;
    }
    .plan-s2__list::before {
        position: absolute;
        top: 4%;
        left: 1%;
        display: block;
        width: 760px;
        height: 1px;
        background-color: #FDD6BA;
        content: "";
    }
    .plan-s2__items {
        max-width: 285px;
        margin: 0 0;
    }
    .plan-s2__items-title::before {
        display: block;
        width: 90px;
        height: 72px;
        margin: 0 0 40px 0;
        background-image: url("../images/01.svg");
        background-repeat: no-repeat;
        content: "";
    }
    .plan-s2__items:nth-child(2)::before {
        background-image: url("../images/Oval.svg");
    }
    .plan-s2__items:nth-child(3)::before {
        background-image: url("../images/Oval.svg");
    }
    .plan-s2__items:not(:last-child) {
        margin-right: 95px;
        margin-bottom: 0px;
    }
    .plan-s2__items-title {
        margin: 24px 0;
        font-size: 32px;
        line-height: 36px;
        text-align: start;
        color: #FFFFFF;
    }
    .plan-s2__items-title::before {
        display: block;
        width: 90px;
        height: 72px;
        margin: 0 0;
        background-image: url("../images/01.svg");
        background-repeat: no-repeat;
        content: "";
    }
    .plan-s2__items:nth-child(2) .plan-s2__items-title::before {
        width: 101px;
        height: 72px;
        background-image: url("../images/02.svg");
    }
    .plan-s2__items:nth-child(3) .plan-s2__items-title::before {
        width: 98px;
        height: 72px;
        background-image: url("../images/03.svg");
    }
    .plan-s2__items-text {
        margin: 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: start;
        color: #FFFFFF;
    }
    .plan-s3 {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .plan-s3__left-list {
        display: block;
        max-width: 255px;
        padding-left: 0;
        list-style: none;
    }
    .plan-s3__left-items {
        font-size: 24px;
        line-height: 32px;
        color: #a0a0a0;
    }
    .plan-s3__left-items:not(:last-child) {
        margin-bottom: 50px;
        padding-bottom: 24px;
        border-bottom: 1px solid #acacac;
    }
    .plan-s3-intro-box {
        margin: 110px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .plan-s3__on-details-box {
        width: 100%;
    }
    .plan-s3__details {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .plan-s3__details:not(:last-child) {
        margin-bottom: 110px;
    }
    .plan-s3__summary {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        font-size: 40px;
        line-height: 48px;
        list-style: none;
        color: #83888F;
    }
    .plan-s3__summary::after {
        display: block;
        width: 19px;
        height: 13px;
        margin-left: auto;
        background-image: url("../images/top-bottom.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateZ(180deg);
        content: "";
    }
    .plan-s3__details[open] .plan-s3__summary::after {
        transform: rotateZ(360deg);
    }
    
    .plan-s3__details-box {
        max-width: 228px;
        margin-bottom: 16px;
        padding: 32px 25px 80px 25px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #f4f1eb;
    }
    .plan-s3__in-details-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .plan-s3__details-box:not(:last-child) {
        margin-right: 10px;
    }
    .plan-s3__details-title {
        margin: 0 0 8px 0;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;    
    }
    .plan-s3__details-text {
        margin: 0;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }
    .plan-s3__bottom-box {
        max-width: 690px;
        margin: 50px 0;
        padding: 31px 44px 35px 44px;
        background-color: #293039;
        border-radius: 8px;
    }
    .plan-s3__buttom-box-intro-word {
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .plan-s3__buttom-box-words {
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;   
    }
    .plan-s3__buttom-box-button {
        padding: 16px 35px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        color: #FEFCF7;
        background-color: #0E8784;
        border-radius: 6px; 
        border: none; 
    }
    
    /* create plan page end */
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
}
.modal-show {
    display: block;

}
.modal-box {
    width: 561px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}
.modal-window{
    background-color: #fff;
    padding: 50px 30px 50px 30px;
}
.modal-h2 {
    margin: 0px;
    padding: 16px 0px 16px 30px;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;    
    background-color: #2f3844;
}
.modal-h3 {
    margin: 0px;
    font-size: 24px;
    line-height: 40px;
    color: #83888F;    
}
.modal-p {
    margin-bottom: 57px;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.modal-left-price {
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.modal-close-button {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 16px 64px;
    background: #0A775F;
    border-radius: 6px;
    border: 0px;
}
.priceandbutton{
    display: flex;
    justify-content: space-between;

}

